html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* Main layout styles */

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar styles */

.sidebar {
    padding: 20px;
}
.sidebar .logo > img {
    height: 50px;
    width: 50px;
}
.sidebar .logo > h1 {
    padding-left: 5px;
}
.sidebar .logo,
.sidebar nav .nav__main {
    margin-bottom: 2rem;
}
.sidebar .logo,
.sidebar nav .nav__main > div,
.sidebar nav .nav__secondary > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.sidebar nav .nav__main > div > img,
.sidebar nav .nav__secondary > div > img {
    height: 20px;
    width: 20px;
}
.sidebar nav {
    padding-left: 15px;
}
.sidebar nav .nav__main > div,
.sidebar nav .nav__secondary > div {
    margin-bottom: 15px;
}

/* Header styling */

header {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    height: fit-content;
}
header .search {
    display: flex;
    justify-content: space-between;
}
header .search label {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}
header .search label > input {
    appearance: none;
    height: 25px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-image: none;
    border-radius: 20px;
    outline: none;
}
header .search label > img,
header .search > div > img {
    height: 25px;
    width: 25px;
}
header .search > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
header .search > div > img[alt="Profile icon"] {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: purple;
    border-radius: 100%;
    background-color: yellow;
    margin: 0 15px;
}
header .create-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
header .create-section .profileGreet {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}
header .create-section .profileGreet > img {
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: purple;
    border-radius: 100%;
    background-color: yellow;
}
header .create-section .profileGreet > p {
    font-weight: bold;
}
header .create-section .create__group {
    display: flex;
    align-items: center;
    gap: 20px;
}
header .create-section .create__group > button {
    width: 90px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

/* Main content styling */

main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: grey;
    padding: 30px;
    gap: 20px;
}
main .section-heading > h2 {
    margin-bottom: 10px;
}
main .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 200px);
    gap: 30px;
}
main .projects .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    padding: 20px 30px;
}
main .projects .project .text {
    display: flex;
    flex-direction: column;
    width: 90%;
}
main .projects .project > div {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
main .projects .project > div > img {
    height: 20px;
    width: 20px;
}
main .trending {
    grid-column: 2 / 3;
}

.trending .profiles > img {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-radius: 100%;
}
main .main__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main .main__side .announcements {
    background-color: white;
    padding: 15px;
}
main .main__side .announcements .announcement {
    font-size: .9rem;
}
main .main__side .announcements .announcement > p {
    padding-bottom: 10px;
}
main .main__side .announcements .announcement > h3 {
    margin-top: 10px;
}
main .main__side .announcements .announcement:nth-child(1),
main .main__side .announcements .announcement:nth-child(2) {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
main .main__side .trending {
    background-color: white;
    padding: 15px;
}
main .main__side .trending .profiles {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .9rem;
    margin-bottom: 10px;
}



